/*Clase texto de icono, texto a mostrar cuando pasamos el raton por encima de un icono de acción.*/
/*flexbox y css grids*/
.icon .iconText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}

.icon:hover .iconText {
    visibility: visible;
    opacity: 1;
}

.icon .iconText {
    visibility: hidden;
    width: 130px;
    font-size: 11pt;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -66px;
    opacity: 0;
    transition: opacity 1s;
}

.icon {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;

    cursor: pointer;
    width: 50px;
    margin: 25px 0 20px 30px;
    height: 50px;

}



