@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('/fonts/Ubuntu/Ubuntu-Light.ttf'); 
}


 
body{
    margin: 0;
    font-family:'Ubuntu-Medium';
    

}


/*NavBar*/
.divMenuIdioma {

    display: flex;
    max-height: 100%;

}


.divMenuIdioma img {

    display: inline-flex;
    max-height: 50%;
    width: auto;
    object-fit: contain;
    margin: 18px 7px;
    padding: 0px 0px;

}

.divMenuIdioma{

    display: flex;
    text-align: center;
    justify-content:center;
    margin: 0px;
    padding: 0px;
}


#navBar {

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    height: 70px;
    background-color: #137fe2;
    justify-content: center;

}

.itemNavBar {

    margin-left: auto;
    margin-right: auto;
    color: white;
    align-self: center;


}

.navBarLink {

    color: white;
    text-decoration: none;

}

.menuIdioma{
    margin-top: 0px;
}




/*Formulario*/
h1 {
    color: #137fe2;
}


#divformgenericoActividad {

    color: #5e696d;
    margin-left: 20%;

}

input {
    margin-top: 20px;
    border-style: solid;
    border-radius: 3px;
    border-color: lightgray;

}


select {
    margin-top: 20px;
    border-style: solid;
    border-radius: 3px;
    border-color: lightgray;

}

#descripcion_actividad{

    width: 18%;
    height: 10%;

}

#submitbuttom {

    margin-top: 20px;
    border: none;
}


/*Funciones de insertar actividad y buscar*/
#Funciones {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.itemFunciones {

    background-color: #137fe2;
    color: White;
    padding: 5px;
    border: none;
    border-radius: 4px;


}

/*Tabla*/
#divTabla {

    overflow-y:auto;
    overflow-x:auto;
    margin-left: 7%;
    margin-right: 7%;
    height: 70%;


}

table {
    border-collapse: collapse;
    border-color: white;
    width: 100%;
    max-height: 40px;
}

th {

    border-bottom: 2px solid black;
    text-align: center;
    
}

td {
    border-bottom: 1px solid gray;
    text-align: center;
}


.colorLinea0 {

    background-color: white;
    border-color: white;
    border-bottom: 1px solid #ddd;
}

.colorLinea1 {

    background-color: rgb(243, 241, 241);
    border-color: rgb(243, 241, 241);
    border-bottom: 1px solid #ddd;
}

.celdaAcciones {
    text-align: center;
    width: 200px;

}

.celdasDatos {
    text-align: center;
    width: 200px;

}

