
/*Tabla*/
#divtablaInscripciones {
    margin-top: 5px;
}

/*Bloque de error y tal*/

#contenido-interno {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: flex-start;
    align-items: center;
}

#imagenAviso {
    margin: auto;
    width: fit-content;
}

#iconCerrar{
    height: 40px;
}