@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('fonts/Ubuntu/Ubuntu-Light.ttf'); 

}

#divformgenericoPersona {

    color: #5e696d;

}

/*Tabla*/
#divtablaPersonas {
    margin-top: 50px;
}

#divformgenericoPersona {
	width:100%; /*Toma el 100% del ancho de la página*/
	height:100%; /*Toma el 100% del alto de la página*/
	position:fixed; /*Con este código hacemos que el contenedor se mantenga en la pantalla y para que tome las dimensiones del body y no de la entrada*/
	background-color: rgba(1, 1, 1, 0.5); /*Color de fondo, incluye opacidad del 90%*/
    align-self:center;
	top:0px; /*Position superior*/
	left:0px; /*Posición lateral*/
	z-index:1001; /*Evitamos que algún elemento del blog sobreponga la ventana modal*/
}

#contenidoForm { 
    display:flex;
    justify-content:center;
	background: #ffffff;
    position: absolute;
    z-index: 20;
    border-radius: 5px;
    width: 45%;
    height: 78.5%;
    margin-top: 6%;
    margin-left: 35%;
    margin-right: 35%;
}

#tituloForms {
	margin-top: 1.25%;
    color: #ffffff;
    font-size: 2em;
    margin-left: 30%;
}

#cerrarForm {
	position: absolute;
    top: 0.75%;
    right: 10%;
    padding-top: 4.5%;
    z-index: 22;
}